@using QuickOrderSystemClassLibrary.Enum
@using QuickOrderSystemClassLibrary
@using QuickOrderSystemClassLibrary.Services.Api
@using System.IO
@using QuickOrderSystemAdminApp.Data
@using QuickOrderSystemClassLibrary.Services
@inject PopUpService PopUpService

<div class="popup-close" @onclick="ClosePopup">
    <div class="popup-close-line1"></div>
    <div class="popup-close-line2"></div>
</div>
<div class="container">
    @if (CrudType != CrudTyp.Delete)
    {
        <div class="form-group custom-input">
            <label for="image">Image</label>

            @if (CrudType == CrudTyp.Create || CrudType == CrudTyp.Update)
            {
                <div class="form-group custom-input">
                    <div class="upload-button-wrapper">
                        <button class="upload-button">Upload</button>
                        <InputFile OnChange="OnChange" accept="image/png, image/jpeg, image/gif" />
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(_imageSizeErrorMessage))
            {
                <div>@_imageSizeErrorMessage</div>
            }
            else if (!string.IsNullOrEmpty(ProductModel.ImageData))
            {
                <div>
                    <img class="Image-to-upload" src="data:image/png;base64,@ProductModel.ImageData" />
                </div>
            }
            else
            {
                <div>No image available</div>
            }
        </div>
        <div class="form-group custom-input">
            <label for="name">Name</label>
            <input type="text"
                   class="form-control @(CrudType == CrudTyp.Read ? "read-only" : "")"
                   id="ID"
            @bind="ProductModel.Name"
                   readonly="@(CrudType == CrudTyp.Read)">
        </div>
        <div class="form-group custom-input">
            <label for="description">Description</label>
            <input type="text"
                   class="form-control @(CrudType == CrudTyp.Read ? "read-only" : "")"
                   id="ID"
            @bind="ProductModel.Description"
                   readonly="@(CrudType == CrudTyp.Read)">
        </div>
        <div class="form-group custom-input">
            <label for="Prize">Prize</label>
            <input type="text"
                   class="form-control @(CrudType == CrudTyp.Read ? "read-only" : "")"
                   id="ID"
            @bind="ProductModel.Price"
                   readonly="@(CrudType == CrudTyp.Read)">
        </div>
    }

    <div class="button-group">
        @switch (CrudType)
        {
            case CrudTyp.Create:
                <button class="btn btn-red" @onclick="@ClosePopup">Cancel</button>
                <button class="btn btn-green" @onclick="@HandleSave">Create</button>
                break;
            case CrudTyp.Read:
                <button class="btn btn-red" @onclick="@ShowDeleteConfirmation">Delete</button>
                <button class="btn btn-green" @onclick="@SwitchToEditMode">Edit</button>
                break;
            case CrudTyp.Update:
                <button class="btn btn-red" @onclick="@ClosePopup">Cancel</button>
                <button class="btn btn-green" @onclick="@HandleSave">Apply</button>
                break;
            case CrudTyp.Delete:
                <div class="delete-confirmation">
                    <p>Are you sure you want to delete this entry?</p>
                    <div>
                        <button class="btn btn-green" @onclick="@ClosePopup">No</button>
                        <button class="btn btn-red" @onclick="@HandleDelete">Yes</button>
                    </div>
                </div>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    </div>
</div>

@code {
    [Parameter] public CrudTyp CrudType { get; set; }
    [Parameter] public Product ProductModel { get; set; }
    private ProductService _productService;
    private UserIdService _userIdService;
    private string _imageSizeErrorMessage = null;

    protected override async Task OnInitializedAsync()
    {

        _userIdService = new UserIdService();
        _productService = new ProductService("https://localhost:7278/api", UserIdService.UserId.Value);
    }

    async Task OnChange(InputFileChangeEventArgs e)
    {
        var file = e.File;

        var maxSizeInMB = 5;
        var maxSizeInBytes = maxSizeInMB * 1024 * 1024;

        if (file.Size > maxSizeInBytes)
        {
            _imageSizeErrorMessage = $"Die Datei ist zu groß. Bitte laden Sie eine Datei hoch, die kleiner als {maxSizeInMB} MB ist.";
            return;
        }

        using var memoryStream = new MemoryStream();
        await file.OpenReadStream(maxSizeInBytes).CopyToAsync(memoryStream);
        var base64Image = Convert.ToBase64String(memoryStream.ToArray());

        ProductModel.ImageData = base64Image;
        _imageSizeErrorMessage = null;
    }

    private async Task SwitchToEditMode()
    {
        ProductModel = await _productService.GetByIdAsyncTask(ProductModel.Id);
        CrudType = CrudTyp.Update;
        StateHasChanged();
    }

    private async Task ShowDeleteConfirmation()
    {
        ProductModel = await _productService.GetByIdAsyncTask(ProductModel.Id);
        CrudType = CrudTyp.Delete;
        StateHasChanged();
    }

    private async Task HandleSave()
    {
        if (CrudType == CrudTyp.Create)
        {
            await _productService.CreateAsyncTask(ProductModel);
        }
        else if (CrudType == CrudTyp.Update)
        {
            await _productService.UpdateAsyncTask(ProductModel.Id, ProductModel);
        }

        ClosePopup();
    }

    private async Task HandleDelete()
    {
        if (CrudType == CrudTyp.Delete)
        {
            await _productService.DeleteAsyncTask(ProductModel.Id);
        }

        ClosePopup();
    }

    private void ClosePopup()
    {
        PopUpService.Close();
        NavigationManager.NavigateTo("/Dishes");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}

<style>
    .popup-close-line1 {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .popup-close-line2 {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .upload-button {
        background-color: #F59D07 !important;
        border: none !important;
        box-shadow: none !important;
    }

    .custom-input .form-control {
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        margin-bottom: 20px;
    }

    .btn {
        width: 48%;
        height: 50px;
        border-radius: 5px;
    }

    .btn-green {
        background-color: green;
        color: white;
    }

    .btn-red {
        background-color: red;
        color: white;
    }

    .read-only {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    .delete-confirmation {
        text-align: center;
    }

    label {
        font-weight: bold;
    }

    .container {
        position: relative;  /* Damit das Schließkreuz sich relativ zu diesem Container positioniert */
    }

    .button-group {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    .upload-button-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .upload-button {
        background-color: #F59D07;
        border: none;
        border-radius: 10px;
        padding: 8px 12px;
        color: white;
        text-align: center;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .Image-to-upload {
        width: 100%;
        max-width: 90%;
        max-height: 200px;
        margin-bottom: 20px;
        object-fit: cover;
    }

    .upload-button-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }
</style>