@using QuickOrderSystemCustomerApp.Data
<div class="cart-item">
    <div class="product-image-container">
        <img src="@($"data:image/jpeg;base64,{CartItem.Product.ImageData}")" alt="@CartItem.Product.Name" class="product-image" />
    </div>
    <div class="product-details">
        <div class="product-name">@CartItem.Product.Name</div>
        <div class="product-price">@CartItem.Product.Price CHF</div>
        <div class="product-quantity-actions">
            <QuantityControl 
                Quantity="@CartItem.Quantity" 
                QuantityChanged="HandleQuantityChange" />
            <img src="Images/Icons/Trash.png" alt="Remove" @onclick="OnRemove" class="remove-icon" />
        </div>
    </div>
</div>

@code {
    [Parameter] public CartItem CartItem { get; set; }
    [Parameter] public EventCallback OnRemove { get; set; }
    [Parameter] public EventCallback<CartItem> UpdateQuantity { get; set; }

    private void HandleQuantityChange(int newQuantity)
    {
        CartItem.Quantity = newQuantity;
        UpdateQuantity.InvokeAsync(CartItem);
    }
}

<style>
    .cart-item {
        display: flex;
        background-color: white;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    }

    .product-image-container {
        flex: 0.5; 
        padding: 0.5rem;
    }

    .product-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .product-details {
        flex: 0.5;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .product-name {
        font-weight: bold;
        margin-bottom: 0rem;
    }

    .product-price {
        margin-bottom: 1rem;
    }

    .product-quantity-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .actions {
        display: flex;
        gap: 0.5rem;
    }

    .remove-icon {
        width: 20px;
        height: 24px;
        cursor: pointer;
    }
</style>
